*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body,html{
    display: grid;
    min-height: 100%;
    place-items: center;
    background-color: #eff4f5;

}

.card{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px rgb(192,183,183),-10px -10px 15px rgb(192,183,183);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
}

.counter{
    font-size: 3rem ;
}

#count{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.lowerbutton, .upperbutton{
font-size: 1.3rem;
outline: none;
padding: 0.7rem 1.5rem;
cursor: pointer;
margin: 0 2rem;
}